.git
.github
.gitignore
.env
.env.example
.env.render
Dockerfile
.dockerignore
README.md
composer.lock
package-lock.json
yarn.lock
node_modules
storage/logs/*
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/config.php
bootstrap/cache/routes-v7.php
bootstrap/cache/services.php
nginx.conf
php.ini
.php_cs.cache
.phpunit.result.cache
.vscode
.idea
*.log
*.sql
*.sqlite